<!DOCTYPE html>
<html>
<head>
  <title>Vpn</title>
  <%= stylesheet_link_tag    "vpn/application", media: "all" %>
  <%= javascript_include_tag "vpn/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
